html, body {
    height: 100%;
    /*overflow: hidden;*/
    background-color: #43464B;
    color: white;
}

.App {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.middle {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
}

.gridItem {
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    padding: 1px;
}

.sidebar {
    min-width: 100px;
    width: 50%;
    --aug-border-bg: black;
    --aug-border-all: 4px;
}

.sidebar.left {
    padding-right: 20px;
    --aug-r-extend1: 75%;
}

.sidebar.right {
    padding-left: 20px;
    --aug-l-extend1: 75%;
}

.summary {
    --aug-border-all: 2px;
    --aug-border-bg: black;
    transition: background-color .25s, color .25s;
}

.summary > div {
    padding: 5px 5px 15px 5px;
}

.summary:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transition: background-color 0.25s;
}

.summary.inactive {
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(130,130,130,1) 50%, rgba(255,255,255,0) 100%);
}

.summary.active.left {
    animation-name: shimmer-right;
}

.summary.active.right {
    animation-name: shimmer-left;
}

.summary.active {
    color: white;
    background: linear-gradient(to left, rgb(0, 175, 0) 10%, rgb(150, 225,150) 80%, rgb(0, 175, 0) 100%) repeat;
    background-size: 50%;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes shimmer-left {
    0% {
        background-position: right bottom;;
    }
    100% {
        background-position: left bottom;
    }
}

@keyframes pulse {
    0% {
        background-color: var(--dampened-color);
    }
    50% {
        background-color: var(--base-color);
    }
    100% {
        background-color: var(--dampened-color);
    }
}

@keyframes shimmer-right {
    0% {
        background-position: left bottom;;
    }
    100% {
        background-position: right bottom;
    }
}

.summary.cooldown {
    --base-color: rgba(255, 0, 0, .75);
    --dampened-color: rgba(255, 0, 0, .25);
    background-color: var(--base-color);
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

progress {
    width: 100%;
}

.resource-bar {
    min-height: 75px;
    width: 100%;
    --aug-border-bg: darkgreen;
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
    justify-content: center;
}

.resource-display {
    --aug-border-bg: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 125px;
    padding: 5px;
}

.resource-value .resource-name {
    flex-grow: 1;
}

.crew-name {
    --aug-border-bg: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    width: 50%;
}

.crew-portrait {
    --aug-all-height: 100px;
    --aug-border-bg: blue;
    background-color: black;
}

.skill-name {
    --aug-border-bg: black;
}

.skill-value {
    --aug-border-bg: black;
}

progress::-moz-progress-bar {
    background: lawngreen;
}

progress::-webkit-progress-value {
    background: lawngreen;
}